* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#container {
    display: flex;
    justify-content: center;
    margin-top: 15%;
}
header {
    background-color: bisque;
    padding: 20px;
}